.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: "Montserrat-Black";
  src: local("Montserrat"),
      url("./assets/Montserrat/Montserrat-Black.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat-BlackItalic";
  src: local("Montserrat"),
      url("./assets/Montserrat/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: local("Montserrat"),
      url("./assets/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat-BoldItalic";
  src: local("Montserrat"),
      url("./assets/Montserrat/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: local("Montserrat"),
      url("./assets/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat-ExtraBoldItalic";
  src: local("Montserrat"),
      url("./assets/Montserrat/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat-ExtraLight";
  src: local("Montserrat"),
      url("./assets/Montserrat/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat-ExtraLightItalic";
  src: local("Montserrat"),
      url("./assets/Montserrat/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat-Italic";
  src: local("Montserrat"),
      url("./assets/Montserrat/Montserrat-Italic.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat-Light";
  src: local("Montserrat"),
      url("./assets/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat-LightItalic";
  src: local("Montserrat"),
      url("./assets/Montserrat/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat-Medium";
  src: local("Montserrat"),
      url("./assets/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat-MediumItalic";
  src: local("Montserrat"),
      url("./assets/Montserrat/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat-Regular";
  src: local("Montserrat"),
      url("./assets/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: local("Montserrat"),
      url("./assets/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat-SemiBoldItalic";
  src: local("Montserrat"),
      url("./assets/Montserrat/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat-Thin";
  src: local("Montserrat"),
      url("./assets/Montserrat/Montserrat-Thin.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat-ThinItalic";
  src: local("Montserrat"),
      url("./assets/Montserrat/Montserrat-ThinItalic.ttf") format("truetype");
  font-weight: normal;
}